
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="View the environment details of an application running on Pivotal Cloud Foundry">
    <meta name="author" content="Derek Tracy">
    <link rel="icon" href="./assets/images/favicon.ico">

    <title>Pivotal CF | Env</title>

    <!-- Bootstrap core CSS -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="./assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./assets/css/starter-template.css" rel="stylesheet">
    <link href="./assets/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="./assets/js/html5shiv.min.js"></script>
      <script src="./assets/js/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
      body { background: {{ .Color }} !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pivotal CF</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a data-toggle="tab" href="#env">Environment Variables</a></li>
            <li><a data-toggle="tab" href="#headers">HTTP Headers</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <h1>Welcome to Pivotal CF</h1>
      <div class="well">
        <div class="tab-content">
          <div id="env" class="tab-pane fade in active">
            <h3>Environment Variables</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Variables</th>
                </tr>
              </thead>
              <tbody>
                {{ range $v := index $.Environment }}
                  <tr>
                    <td>{{ $v }}</td>
                  </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
          <div id="headers" class="tab-pane fade">
            <h3>HTTP Headers</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><div class="text-right">Name</div></th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                {{ range $key, $value := $.Header }}
                  {{ range $v := index $value }}
                    <tr>
                      <td><strong><div class="text-right text-nowrap">{{ $key }}:</div></strong></td>
                      <td>{{ $v }}</td>
                    </tr>
                  {{ end }}
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <a href="javascript:window.location.reload();" class="btn btn-primary" role="button">Refresh</a>
      <a href="kill" class="btn btn-danger" role="button">Kill</a>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./assets/js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="./assets/js/jquery.min.js"><\/script>')</script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
